/* VARIABLES */
:root {
  /* color */
  --main-bg-color: #f9f9f9;
  --main-text-color: #333;
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --white-color: #fff;
  --border-color: #ddd;
  /* size */
  --gap-size: 16px;
  --header-height-size: 70px;
  --footer-height-size: 96px;
}
/* COMMON STYLES */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: lightgray;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn:active {
  transform: scale(0.98);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.hero,
.about,
.services,
.contact {
  min-height: 100vh;
  height: 100vh;
  scroll-snap-align: start;
  padding: var(--header-height-size) 24px var(--footer-height-size) 24px;
  overflow: hidden;
}

.header__link:hover > i,
.services__icon:hover {
  transform: rotate(10deg) scale(1.1);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero .container,
.about .container,
.services .container,
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about__title,
.services__title,
.contact__title {
  width: 100%;
  position: relative;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 32px;
  animation: fadeIn 1s ease forwards;
}

.about__title::before,
.services__title::before,
.contact__title::before,
.about__title::after,
.services__title::after,
.contact__title::after {
  content: "";
  display: block;
  width: 40%;
  border: 2px solid var(--border-color);
  position: absolute;
  bottom: 22px;
}
.about__title::before,
.services__title::before,
.contact__title::before {
  left: 0;
}

.about__title::after,
.services__title::after,
.contact__title::after {
  right: 0;
}

.animated {
  opacity: 0;
  transform: none;
  /* transform: translateY(30px); */
  /* transition: opacity 0.6s ease, transform 0.6s ease; */
}

.animated.visible {
  opacity: 1;
  transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* HEADER SECTION STYLES */
.header {
  background-color: var(--white-color);
  padding: 16px 32px;
  border-bottom: 2px solid var(--border-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-size);
}

.header__logo {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.header__list {
  display: flex;
  gap: var(--gap-size);
}

.header__link {
  font-size: 1rem;
  color: var(--main-text-color);
  transition: color 0.3s ease;
}

.header__link:hover {
  color: var(--primary-color);
}

.header__link i {
  margin-right: 6px;
  color: var(--primary-color);
  transition: transform 0.3s ease;
}

.header__button-call {
  padding: 8px 16px;
}

/* HERO SECTION STYLES */
.hero {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  /* padding: 256px 24px; */
  background-image: url("../images/hero-image.avif");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.hero__title,
.hero__subtitle {
  animation: fadeIn 1s ease forwards;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 16px;
  animation-delay: 0.2s;
}

.hero__subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
  animation-delay: 0.4s;
}

.hero__button {
  display: inline-block;
  padding: 16px 54px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.hero__button:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ABOUT SECTION STYLES */
.about__title {
  animation: fadeIn 1s ease forwards;
}

.about__description {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  color: var(--main-text-color);
  margin-bottom: var(--gap-size);
}

.about__content {
  width: 100%;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.about__item {
  display: flex;
  flex-basis: calc((100% - 60px) / 2);
  gap: var(--gap-size);
}

.about__item-img {
  height: 484px;
  border-radius: 8px 8px 8px 156px;
  box-shadow: -16px 16px 0 0 var(--main-bg-color),
    -16px 16px 0 2px var(--border-color);
}

.about__icon {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 12px;
  transition: transform 0.3s ease;
}
/* SERVICES SECTION STYLES */

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.services__item {
  flex-basis: calc((100% - 52px) / 3);
  height: 300px;
  text-align: center;
  background-color: var(--white-color);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.services__item:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.services__icon {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 12px;
  transition: transform 0.3s ease;
}

/* CONTACT SECTION STYLES */
.contact__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

/* .contact__info {
} */

.contact__text {
  margin: 12px 0;
  font-size: 1.1rem;
  color: var(--main-text-color);
}

.contact__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__input,
.contact__textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
}

.contact__textarea {
  height: 100px;
  resize: none;
}

.contact__button {
  padding: 12px 0;
}

.contact__button:hover {
  background-color: var(--secondary-color);
}

/* FOOTER SECTION STYLES */
.footer {
  height: var(--footer-height-size);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-bg-color);
  background-image: url("../images/scheme-footer-bg-1200x96.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer__text {
  padding: 18px 0;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer__social-link i {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: color 0.3s;
}

.footer__social-link i:hover {
  color: var(--secondary-color);
}

/* MODAL WINDOW STYLES */
.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 16px 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

.backdrop.is-hidden {
  /* display: none;  */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 100%;
  max-width: 680px;
  height: 100%;
  max-height: 680px;
  background-color: var(--main-bg-color);
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 24px;
  overflow-y: auto;
}

.modal__button-close {
  background-color: transparent;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.modal__button-close:hover {
  color: var(--primary-color);
}

.modal__button-close:active {
  transform: scale(0.9);
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 16px;
}

.modal__input {
  width: 100%;
  padding: 16px 24px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  background-color: transparent;
}

.modal__checkbox-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.modal__checkbox {
  appearance: none;
}

.modal__label-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 24px;
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  border: 2px solid var(--border-color);
  padding: 2px;
  margin-top: 2px;
}

.modal__checkbox:checked + .modal__label-checkbox::before {
  background-color: var(--primary-color);
}

.modal__button-call {
  display: block;
  padding: 8px 64px;
  margin: 16px auto;
}

.modal__terms {
  max-width: 230px;
  text-align: center;
  font-size: 0.8rem;
}

.modal__button-call:hover {
  background-color: var(--secondary-color);
}

/* MEDIA QUERIES */
@media (hover: none) and (pointer: coarse) {
  body {
    scroll-snap-type: none;
  }
}
