/* COMMON STYLES */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  height: 100%;
  // overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}

.hero,
.about,
.services,
.contact {
  min-height: 100vh;
  height: 100vh;
  scroll-snap-align: start;
  padding: var(--header-height-size) 24px var(--footer-height-size) 24px;
  overflow: hidden;
}

.header__link:hover > i,
.services__icon:hover {
  transform: rotate(10deg) scale(1.1);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero .container,
.about .container,
.services .container,
.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about__title,
.services__title,
.contact__title {
  width: 100%;
  position: relative;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 32px;
  animation: fadeIn 1s ease forwards;
}

.about__title::before,
.services__title::before,
.contact__title::before,
.about__title::after,
.services__title::after,
.contact__title::after {
  content: "";
  display: block;
  width: 40%;
  border: 2px solid var(--border-color);
  position: absolute;
  bottom: 22px;
}
.about__title::before,
.services__title::before,
.contact__title::before {
  left: 0;
}

.about__title::after,
.services__title::after,
.contact__title::after {
  right: 0;
}

.animated {
  opacity: 0;
  transform: none;
  /* transform: translateY(30px); */
  /* transition: opacity 0.6s ease, transform 0.6s ease; */
}

.animated.visible {
  opacity: 1;
  transform: translateY(0);
}
