/* VARIABLES */
:root {
  /* color */
  --main-bg-color: #f9f9f9;
  --main-text-color: #333;
  --primary-color: #007bff;
  --secondary-color: #0056b3;
  --white-color: #fff;
  --border-color: #ddd;
  /* size */
  --gap-size: 16px;
  --header-height-size: 70px;
  --footer-height-size: 96px;
}
