/* FOOTER SECTION STYLES */
.footer {
    height: var(--footer-height-size);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-bg-color);
    background-image: url("../images/scheme-footer-bg-1200x96.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .footer__text {
    padding: 18px 0;
    text-align: center;
  }
  
  .footer__social {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .footer__social-link i {
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: color 0.3s;
  }
  
  .footer__social-link i:hover {
    color: var(--secondary-color);
  }
  